@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Outfit:wght@400;700&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 2em 25em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding-top: 1em;
}

h1 {
  font-size: 1.2em;
}

a {
  color: rgb(13, 122, 212);
  text-decoration: none;
}

a:hover {
  border-bottom: 0.15em solid rgb(13, 122, 212)
}

.content {
  margin-top: 2em;
  text-align: justify;
  font-size: 0.9em;
}

@media (max-width: 1200px) {
  body {
    margin: 2em 15em;
  }
}

@media (max-width: 784px) {
  body {
    margin: 2em 5em;
  }
}

@media (max-width: 510px) {
  body {
    margin: 3em 5em;
  }

  .header {
    display: contents;
  }

  .nav {
    padding-top: 0;
  }
}